.events .circle{
    height:20px;
    width:20px;
    border-radius:50%;
}
.events .d-flex{
    display:flex;
    cursor: pointer;
    margin: 5px;
}
.events .d-flex .circle{
    margin-top: 17px;
}
.events .d-flex .plus{
    margin-top:4px;
    font-size:30px;
}
.events .d-flex div, .d-flex p{
    margin-left: 20px;
}
.events .d-flex:hover{
    background-color:#93227F;
    border-radius: 20px;
}
.events .active{
    background-color:#93227F;
    border-radius: 20px;
}